<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Settings</title>
        <title lang="de-DE">Versandkontext-Voreinstellung</title>

        <input-field type="text">
            <name>countryIso</name>
            <label lang="de-DE">Land ISO (e.g. DE)</label>
            <helpText lang="de-DE">Zweibuchstabiger Lieferland ISO-Code zur Anwendung in perItemShipping-Funktion. Verfügbare Codes siehe Einstellungen -> Länder -> ISO2.</helpText>
            <defaultValue>DE</defaultValue>
        </input-field>

        <input-field type="text">
            <name>zipcode</name>
            <label lang="de-DE">Postleitzahl</label>
            <placeholder lang="de-DE">z.B. 24796</placeholder>
            <helpText lang="de-DE">Postleitzahl zur Anwendung in perItemShipping-Funktion.</helpText>
            <defaultValue>24796</defaultValue>
        </input-field>
    </card>
</config>
