<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Shipping Simulation</title>

        <input-field type="text">
            <name>countryIso</name>
            <label>Country ISO (e.g. DE)</label>
            <helpText>Two-letter ISO code of the country.</helpText>
            <defaultValue>DE</defaultValue>
        </input-field>

        <input-field type="text">
            <name>zipcode</name>
            <label>Zipcode</label>
            <placeholder>e.g. 10115</placeholder>
            <helpText>Optional zipcode to influence shipping rules.</helpText>
            <defaultValue>24796</defaultValue>
        </input-field>
    </card>
</config>
