{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{# Disable begin-checkout button until a shipping method is available #}
{% block component_offcanvas_cart_actions_checkout %}
    <div class="d-grid">
        <a href="{{ path('frontend.checkout.confirm.page') }}"
            class="btn begin-checkout-btn{% if isCartNotEmpty and page.shippingMethods|length > 0 %} btn-primary{% else %} btn-light disabled{% endif %}"
            title="{{ 'checkout.proceedToCheckout'|trans|striptags }}">
            {{ 'checkout.proceedToCheckout'|trans|sw_sanitize }}
        </a>
    </div>
{% endblock %}